/* ---- IMPORTS ---- */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Sacramento&display=swap');
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sacramento', cursive; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    min-height: 100px;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(./images/background.png);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
    .banner header{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0.5rem 3rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        z-index: 100000;
        background-color: rgb(204, 222, 255);
    }

    .banner header .logo{
        color: black;
        text-decoration: none;
        font-size: 24px;
        text-transform: uppercase;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 1px;
    }

    ul{
        flex: 1;
        text-align: right;
    }

    ul li{
        display: inline-block;
        list-style: none;
        margin: 0 25px;
        background-color: rgb(160, 241, 252);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    ul li a{
        text-decoration: none;
        color: black;
        padding: 0 10px;
        position: relative;
    }

    ul li a::after{
        content: '';
        width: 0%;
        height: 50%;
        background: tomato;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: -28px;
        transition: 0.5s;
    }

    ul li a:hover::after{
        width: 100%;
    }

    ul li a:hover{
        color: rgb(248, 106, 106)
    }

#content{
    position: relative;
    max-width: 80%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

    #intro{
        position: relative;
    }

    #intro img{
        padding: 0.5rem 3rem;
        overflow: hidden;
    }

    #content h2{
        font-size: 32px;
    }
    
    #safe{
        text-transform: uppercase;
        background-color: white;
        border-radius: 0.5rem;
        color: rgb(160, 192, 252);
        font-size: 50px;
    }
    
    #aware{
        text-transform: uppercase;
        background-color: white;
        border-radius: 0.5rem;
        color: lightcoral;
        font-size: 50px;
    } 



.parallax{
    min-height: 550px;
    background: transparent;
}

#quote {
    z-index: 2;
    position: relative;
}



#about{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background: url(./images/bg.jpg);
}

    #contentBx{
        background: lightcoral;
        padding: 100px;
        width: 50%;
    }

    #about h2{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem 0 1rem 0;
    }

    .heading{
        color: white;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 1px;
        margin-bottom: 10px;
    }
    
    #text{
        color: white;
        font-size: 16px;
        font-weight: 300;
        letter-spacing: 1px;
    }

#story{
    background-color: lightsteelblue;
    padding: 3rem;
    width: 100%;
    height: 100vh;
    text-align: center;
}

    #story ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 400px;
        margin: 3rem;
        background-color: #eee;
        box-shadow: 0 0 22px rgba(0, 0, 0, 0.44);
    }

    .card img {
        width: 100%;
        background-color: white;
    }

    .card p {
        margin: 1rem;
        padding: 0.5rem 0.5rem;
    }

    .card button{
        justify-content: center;
        align-items: center;
        position: relative;
        display: inline-block;
        padding: 12px 36px;
        margin: 10px 0;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 2px;
        border-radius: 40px;
        overflow: hidden;
        background: linear-gradient(90deg, rgb(248, 106, 106),  rgb(160, 241, 252) );
    }

    .card button:hover{
        color: black;
    }

