/* ---- IMPORTS ---- */ 
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@500&family=Roboto+Condensed:wght@300&family=Sacramento&display=swap');
/* 
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sacramento', cursive; 
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content{
    position: relative;
    max-width: 750px;
    text-align: center;

}

#content h2{
    color: black;
    font-size: 60px;
}

#content p{
    color: black;
    font-size: 18px;
}

.banner header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 100000;
}

.banner header .logo{
    color: black;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo img{
    justify-content: baseline;
}


.banner header .toggle{
    position: relative;
    width: 36px;
    height: 28px;
    background: url(./images/toggle.png);
    background-size: cover;
    cursor: pointer;
}

.about{
    position: relative;
    width: 100%;
    display: flex;
}

#contentBx{
    background: lightcoral;
    padding: 100px;
    width: 50%;
}

.heading{
    color: white;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

#text{
    color: white;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
}

.about #imgBx{
    background: url(./images/kid1.jpg);
    width: 50%;
    background-size: cover;
    background-position: center;
}


.services{
    background-color: lightsteelblue;
    padding: 100px;
    text-align: center;
}

#container {
    width: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

#serviceBx{
    position: relative;
    background: white;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
